<!DOCTYPE html>
<html>
<head>
	<title>Flashpoint Team Randomizer</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<p class="navbar-brand">Flashpoint Tuesday Team List</p>
		<div>
			<%= link_to('Shuffle Em',{:action => 'index'}, :class => "btn btn-success navbar-btn") %>
		</div>
	</nav>

	<%= yield %>

</body>
</html>
